# Unwanted files
target

# Backup files
.DS_Store
thumbs.db
*~
*.rs.bk
*.swp

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/